/***** BASE STYLES *****/


html,body {
 background:#F4F4F4;
 position:absolute;
 top:0;
 bottom:0;
 left:0;
 right:0;
 height:80%;
 line-height:1.5;
 -webkit-text-size-adjust:100%
}







 h1 a {
	color: #006666;
	font-family: 'Raleway', sans-serif;
 	font-size:9.5625rem;
 	letter-spacing:-.15625rem;
 	line-height:0.15789
 	-ms-flex-align: center;
	align-items: center;
	background-color: #fff;
	display: -ms-flexbox;
	display: flex;
	height: 80vh;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	width: calc(100vw + 15px);
	z-index: 1;
	text-decoration: none;


	
}

 h3 {
	color: #000000;
	font-family: 'Julius Sans One', sans-serif;  
 	font-size:2.5625rem;
 	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	z-index: 1;

	
}


 .denwed .denwed__container div>h1>div>span {

 font-size:3.5625rem;
 letter-spacing:-.15625rem;
 text-decoration-line: none;
}


.global-nav {
 margin-left:auto;
 margin-right:auto;
 width:74.35897%;
 display:-ms-flexbox;
 display:flex;
 -ms-flex-direction:column;
 flex-direction:column;
 -ms-flex-pack:center;
 justify-content:center
}






.global-nav-wrapper {
 background:#F4F4F4;
 height:0;
 overflow:hidden;
 position:fixed;
 top:0;
 transition:height 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
 width:100%
}


}
.global-nav-background {
 background:#F4F4F4;
 height:80%
}




#about{
	font-family: 'Anton', sans-serif;
	text-decoration-line: underline;
	color: #000000;
	
 	font-size:9.5625rem;
 	letter-spacing:-.15625rem;
 	line-height:0.15789
 	-ms-flex-align: center;
	align-items: center;
	background-color: #fff;
	display: -ms-flexbox;
	display: flex;
	height: 80vh;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	width: calc(100vw + 15px);
	z-index: 1;
	text-transform: none;
	text-decoration-line: none;
}

a{
	font-family: font-family: 'Anton', sans-serif;
}

.work-main{
	-ms-flex-align: center;
	align-items: center;
	background-color: #fff;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
}